
<div class="register-box">
  <div class="register-logo">
    <a><b>EZE</b> DOCS</a>
  </div>

  <div class="register-box-body bdr-all">
    <p class="login-box-msg">Forgot Password</p>

    <form role="form" name="forgotPassForm" ng-submit="submitForm(forgotPassForm.$valid)" novalidate>

      <div class="form-group has-feedback" ng-show="userLoginScope.showEmail">
        <input type="email" class="form-control" placeholder="Enter Registered Email" name="userEmail" ng-model="userLoginScope.userEmail" ng-required="true" autocomplete="off">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <p ng-show="forgotPassForm.userEmail.$invalid && !forgotPassForm.userEmail.$pristine" class="help-block">User's Email is required.</p>

      <div class="form-group has-feedback" ng-show="userLoginScope.showPass">
        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="userLoginScope.newpassword" autocomplete="off">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
           <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <!--<input type="checkbox"> I agree to the <a href="#">terms</a>-->
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4" ng-show="userLoginScope.emailBtn">
          <button type="submit" ng-click="userLoginScope.checkEmail()" ng-disabled="forgotPassForm.$invalid" class="btn btn-primary btn-block btn-flat">Check</button>
        </div>
        <div class="col-xs-4" ng-show="userLoginScope.passBtn">
          <button type="submit" ng-click="userLoginScope.saveNewPassword()" class="btn btn-primary btn-block btn-flat">Update</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a ui-sref="login" class="text-center">Go back</a>

    <div ng-show="userLoginScope.errormsg"  class=" m-b-0 m-t-10  well well-sm alert alert-danger text-center">Email is not registered. Enter correct Email.</a> </div>
    <div ng-show="userLoginScope.successmsg"  class=" m-b-0 m-t-10  well well-sm alert alert-success text-center">Password is updated.</a> </div>

  </div>
  <!-- /.form-box -->
</div>


