<div class="">
    <div class="col-sm-10 col-md-offset-1" style="margin-top:15px">
        <a href="javascript:void(0)" ui-sref="dashboard"><span><i class="fa fa-arrow-circle-left"></i> Back</span></a>
        <a ui-sref="uploadpdf"><span class="pull-right" ><i class="fa fa-plus" aria-hidden="true"></i> Upload PDF</span></a>
    </div>
<div class="col-sm-10 col-md-offset-1 scrollit p-t-b-25" ng-init="pdfScope.listPdf()">
    <table st-table="displayedCollection" style="" st-safe-src="pdfScope.pdf" class="table table-striped">
        <thead>

        <tr>
            <th class="p-l-r-0"  colspan="5">
                <input st-search="" class="form-control searchBar-w pull-right" placeholder="Search Table..." type="text"/>
            </th>
        </tr>
        <tr class="table-head-color">
            <th >PDF Name</th>
            <th >Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td><a href="/static/dist/pdf/{{row.pdfName}}">{{row.pdfName}}</a></td>
            <td><i class="fa fa-trash" style="color:orangered; cursor:pointer" ng-click="pdfScope.delPdf(row.pdfId, $index)"></i></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
